<%= render "menu" %>

<% if flash[:success] %>
  <div class="ui success message">
    <p><%= flash[:success] %></p>
    <i class="close icon"></i>
  </div>
<% elsif flash[:error] %>
  <div class="ui error message">
    <p><%= flash[:error] %></p>
    <i class="close icon"></i>
  </div>
<% end %>

<div class="ui segment">
    <h1>Página inicial</h1>
</div>
