// Place all the styles related to the Visitors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body > .grid {
    height: 100%;
}

#login_form {
    padding-top: 10%;
}

.column {
    max-width: 450px;
}